body{background-color: #9DC08B;}
        hr{
        border-style: dotted none none;
        border-color: grey;
        border-width: 5px;
        height: 0px;
        width: 10%;
        }
 h1{color: #362FD9;}
 h2{color:#362FD9}
 h3{color: #362FD9;}

        